@model User

@{
    ViewBag.Title = "User Registration";
}

<h2>User Registration</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mobile)
        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Mobile)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender)
        <div>
            @Html.RadioButtonFor(model => model.Gender, "Male") Male
            @Html.RadioButtonFor(model => model.Gender, "Female") Female
        </div>
        @Html.ValidationMessageFor(model => model.Gender)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hobbies)
        <div>
            <input type="checkbox" id="Reading" name="Reading" value="Reading"> Reading
            <input type="checkbox" id="Writting" name="Writting" value="Writting"> Writting
            <input type="checkbox" id="Dancing" name="Dancing" value="Dancing"> Dancing

        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Register</button>
    </div>
}
